<ion-view view-title="{{license.name}}" id="license">
    <ion-content>
        <div class="row">
            <div class="col text-center">
                <button class="button button-icon icon ion-arrow-left-c" ng-click="prev()"></button>
            </div>
            <div class="col text-center">
                <h1>{{date}}</h1>
            </div>
            <div class="col text-center">
                <button class="button button-icon icon ion-arrow-right-c" ng-click="next()"></button>
            </div>
        </div>
        <div id="chart" style="width: 100%; height: 500px;"></div>
    </ion-content>
</ion-view>