<ion-view view-title="{{license.name}}" id="license">
    <ion-content scroll="false" class="padding">
        <div class="wrap-chart">
            <div class="row">
                <div class="col text-center">
                    <button class="button button-icon icon ion-arrow-left-c" ng-click="prev()"></button>
                </div>
                <div class="col text-center">
                    <h1>{{date}}</h1>
                </div>
                <div class="col text-center">
                    <button class="button button-icon icon ion-arrow-right-c" ng-click="next()"></button>
                </div>
            </div>
            <div id="chart" class="chart"></div>
        </div>
    </ion-content>
</ion-view>