<ion-view title="ADDIN.DK License Server">
    <ion-nav-bar class="bar-dark">
        
    </ion-nav-bar>
    <ion-content>
        <form data-ng-submit="doLogin(name,password)" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Brugernavn</span>
                    <input name="login" type="email" ng-model="name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input name="password" type="password" ng-model="password">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Login</button>
            </div>

        </form>
        <div class="padding">
            <button class="button button-block button-outline button-positive" ng-click="forgot(name)">Glemt password</button>
        </div>
        <div class="padding assertive" ng-show="loginError">
            {{loginError}}
        </div>
    </ion-content>
</ion-view>